@font-face {
    font-family: "Spectral_SC";
    src: url(./font/Spectral_SC/SpectralSC-Regular.ttf);
}

@font-face {
    font-family: "Caviar_bold";
    src: url(./font/caviar-dreams-font/CaviarDreamsBold-a5og.ttf);
}

@font-face {
    font-family: "Caviar_light";
    src: url(./font/caviar-dreams-font/CaviarDreams-Wr2O.ttf);
}

h2{
    font-size: 75px;
    display: flex;
    font-family: 'Spectral_SC', sans-serif;
    color: #260E12;
    justify-content: center;
}



form{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;    
}

section div{
    height:50px;
    width:50%;
    border-top: 3px solid #f2D541;   
    margin :0px;

}

label:not(.radio label) {
    display:flex;
}


fieldset{

    background-color: #f2e3b6;
    border-radius: 10px;
    width : 25%;

}


label, form p{
    font-family: 'Caviar_bold', sans-serif;
    color: #260E12;
    text-decoration: underline 1px #260E12;
}

/* Remove the underline from the properties above */
.radio label {
    text-decoration: none;
}

input:not(input[type="submit"],input[type="reset"]), textarea{

    font-family: 'Caviar_light', sans-serif;
    font-weight: bolder;
    color: #260E12;  
    padding:5px;
    margin:5px 0;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

input[type="submit"], input[type="button"], input[type="reset"]{
    font-family: 'Spectral_SC', sans-serif;
    color: white;
    background-color: #260E12;
    margin: 5px;
    border-radius:8px;

}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

div{
    margin:2px;
}

textarea{
   width: 90%;
   resize: none;
}


div.radio{

    margin-top: 10px;
    margin-bottom: 10px;
}














@font-face {
    font-family: "TheiPersonalUse";
    src: url(font/TheiPersonalUse-2O2BK.otf);
}


h1 {
    font-size: 75px;
    font-family: TheiPersonalUse;
    font-weight: lighter;
    margin: auto;
}


 body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    font-family: 'Spectral', serif;
    color: #260E12;
}

#ange {
    grid-column: 1;
    grid-row: 1;
    display: flex;

}

nav {
    grid-column: 1;
    grid-row: 2;
}

ul {
    list-style-type: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding-inline-start: 65px;
    text-decoration: underline 0.5px solid;
    text-underline-offset: 4px;
    font-size: larger;
}

.nav-items {
    margin : 1em;
    
}

a {
    text-decoration : none;
    color: black;
}

a:visited {

    color: none;
}

#contenu {
    grid-column: 1;
    grid-row: 3;
}

footer {
    grid-column: 1;
    grid-row: 4;

}

header {

    background-color: none;
    color: #260E12;
}

.logo {

    position: relative;
}