*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #260E12;
}

@font-face{
    font-family: "Spectral_SC";
    src: url(font/Spectral_SC/SpectralSC-Bold.ttf);
}

@font-face{
    font-family: "caviar-dreams";
    src: url(font/caviar-dreams-font/CaviarDreams-Wr2O.ttf);
}


body{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    font-family: 'Spectral', serif;
    /* height: 20%; */
    color: #260E12;
}
    



h1 {
    font-size: 75px;
    font-family: TheiPersonalUse;
    font-weight: lighter;
    margin: auto;
}

p{
    padding: 10px;
    font-family: "caviar-dreams";
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
}

#image2 , #image3{
    display: none;
    
}

.disc{
    margin-top: 20px;
    background-color: bisque;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
}

.disc:nth-last-of-type(3){
    background-color: #260E12;
}
article p{
    width: 500px;
    padding: 10px;
    text-align: justify;
}
#imageChampagne{
    width: 200px;
}

.image1{
    width: 100%;
    height: 300px;
    text-align: none;
}

#flecheGauche{
    height : 0;
    width : 0;
    border-top : 87px solid transparent;
    border-right : 150px solid #260E12;
    border-bottom : 63px solid transparent;
    position: absolute;
    top: 25%;
    opacity: 0.5;
    cursor: pointer;
}
#flecheDroite{
    height : 0;
    width : 0;
    position: absolute;
    top: 25%;
    right:0;
    border-top : 63px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid #260E12;
    opacity: 0.5;
    cursor: pointer;

}

#carousel1{
    position: relative;
}

article section{
    display: flex;
    align-items: center;
    flex-direction: column;
}












@font-face {
    font-family: "TheiPersonalUse";
    src: url(font/TheiPersonalUse-2O2BK.otf);
}


#ange {
    grid-column: 1;
    grid-row: 1;
    display: flex;

}

nav {
    grid-column: 1;
    grid-row: 2;
}

ul {
    list-style-type: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding-inline-start: 65px;
    text-decoration: underline 0.5px solid;
    text-underline-offset: 4px;
    font-size: larger;
}

.nav-items {
    margin : 1em;
    
}

a {
    text-decoration : none;
    color: black;
}

a:visited {

    color: none;
}

#contenu {
    grid-column: 1;
    grid-row: 3;
}

footer {
    display: flex;
    margin-top: 10px;
    grid-column: 1;
    grid-row: 4;

}

header {

    background-color: none;
    color: #260E12;
}

.logo {

    position: relative;
}