@font-face {
    font-family: "Spectral_SC";
    src: url(./font/Spectral_SC/SpectralSC-Regular.ttf);
}

@font-face {
    font-family: "Caviar_bold";
    src: url(./font/caviar-dreams-font/CaviarDreamsBold-a5og.ttf);
}

@font-face {
    font-family: "Caviar_light";
    src: url(./font/caviar-dreams-font/CaviarDreams-Wr2O.ttf);
}



h1, input[type="submit"], input[type="button"], input[type="reset"]{
font-family: 'Spectral_SC', sans-serif;
}

label, form p{
    font-family: 'Caviar_bold', sans-serif;
}

input::placeholder, input[type="text"]{
    font-family: 'Caviar_light', sans-serif;
}


